
<h2><span>登录</span></h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name),
	:html => {:class => "login"}) do |f| %>
    <p>
        <label for="user_email">电子邮件</label>
        <%= f.email_field :email %>
    </p>
    <p>
        <label for="user_password">登陆密码</label>
        <%= f.password_field :password %>
    </p>
    <p>
        <span><%= f.check_box :remember_me,:style => "float:left;vertical-align: middle;margin-right: 6px;" %> <label>记住密码？</label></span>
        
    </p>
    <p>
        <input type="submit" value="登录" /> 
        <input type="submit" value="取消" />
    </p>
    <p>
    	<%= render "devise/shared/links" %>
    </p>
<% end %>
            
